@import './fonts.css';

.arrow-icon {
    width: 12px;
    height: 12px;
}

body {
    font-family: "TT Commons Pro";
}

body p {
    font-family: "TT Commons Pro";
    font-size: 19px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px;
    margin: 0;
}

@media (max-width: 600px) {
    body p {
        font-size: 17px;
    }
}