@import './fonts.css';

.arrow-icon {
    margin: 5px;
}

body {
    font-family: "TT Commons Pro";
    align-self: stretch;
}

body p {
    font-family: "TT Commons Pro";
    font-size: 19px;
    font-style: normal;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 0;
    margin: 0;
}

@media (max-width: 600px) {
    body p {
        font-size: 17px;
        line-height: 24px;
    }
}